* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

html,body {
  height: 100%;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-image: url(https://images.unsplash.com/photo-1573166801077-d98391a43199?q=80&w=1169&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
nav{
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

    ul{
        width: 100%;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        li{
            height: 50px;

            a{
                height: 100%;
                padding: 0 30px;
                text-decoration: none;
                display: flex;
                align-items: center;
                color: black;
            }
            a:hover{
                background-color: #f0f0f0;
            }
        }
        li:first-child{
            margin-right: auto;
            font-weight: 600;
        }
        .menu-button{
            display: none;
        }
    }

    .sidebar{
        position: fixed;
        top: 0;
        right: -100%;
        opacity: 0;
        height: 100vh;
        // width: 100%;
        width: 250px;
        z-index: 999;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        transition: all 0.5s ease;

        li{
            width: 100%;

            a{
                width: 100%;
            }
        }
    }
}

@media (max-width: 800px) {
    .hideOnMobile{
        display: none;
    }
    nav{
        ul{
            .menu-button{
                display: block;
            }
        }
    }
}

@media (max-width: 500px) {
    nav{
        .sidebar{
            width: 100%;
        }
    }
}